<form action='/Users/Createevent' method='post'>
    Event Name:<input type='text' name='eventname' /><br/>
    Event Start Date:<input type='date' name='startdate' /></br>
    Event End Date:<input type='date' name='enddate' /></br>
    Video:<input type='checkbox' name='video' /> </br>
    Audio:<input type='checkbox' name='audio' /> </br>
    Picture:<input type='checkbox' name='picture' /> </br>
    Message:<input type='checkbox' name='msg' /> </br>
    <input type = 'submit' name = 'Create Event' /></br>
</form>
